---
version: '2'

services:
  qclock:
    image: node:8.11.3-alpine
    volumes:
    - .:/usr/src/app
    ports:
    - "9090:9090"
    - "8088:8088"
    working_dir: /usr/src/app
    environment:
    - NODE_ENV=docker
    command: ["npm", "run", "docker"]